.header {
	background-color: #ECDD7B;
}

.content {
	background-color: #CE8147;
}

.menu {
	background-color: #D3E298;
}

/* Photo upload */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}


.background-image-style {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.menu-hover {
  background-color: #F3F3F3;
}
